.fullscreen-calendar {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specific styling for the current time indicator */

.fc-timegrid-now-indicator-line,
.fc-now-indicator,
.fc-timegrid-now-indicator-arrow{
  background-color: #f50000 !important; /* Change color of all now indicator elements */
  border-color: #f50000 !important; /* For some indicators, borders are used */
  height: 2px !important; /* Thickness of the horizontal line */
}

