.search-page {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #00204b;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto 30px;
  display: block;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.club-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px; /* Even spacing between items */
}

.club-card {
  background-color: orange;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.club-card h2 {
  margin: 15px 0;
}

.club-card p {
  font-size: 14px;
  color: #555;
}

.club-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}


.reservation-banner {
  display: flex;
  align-items: center;
  background-color: orange;
  color: darkblue;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
}

.banner-image-container {
  flex-shrink: 0;
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Ensures square shape */
  overflow: hidden;
  border-radius: 4px; /* Optional: rounded corners */
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text-container {
  margin-left: 10px;
  flex-grow: 1;
}


.reservation-banner h2 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.reservation-banner p {
  margin: 0;
  font-size: 14px;
  line-height: 1.2; /* Compact line spacing */
}


.no-events {
  color: #ff8000; 
  text-align: center; 
  font-weight: bold; 
  margin-top: 20px; 
  font-size: 1.5rem;
}