/* MyOrgsPage.css */
.my-orgs-page {
  padding: 20px;
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.org-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.org-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
  background-color: #f0f8ff;
}

.org-card:hover {
  transform: scale(1.05);
  border-color: #ff8000;
}

.org-name {
  color: rgb(0, 0, 0); 
  margin-top: 10px;
  font-size: 1rem; /* Adjust font size responsively */
  word-wrap: break-word; /* Allow words to break to fit the container */
  text-align: center; /* Center-align text within the card */
  white-space: nowrap; /* Prevent long words from overflowing */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis if text is too long */
}
/* Make font size responsive for smaller screens */
@media (max-width: 768px) {
  .org-name {
    font-size: 0.9rem; /* Slightly smaller font for smaller screens */
  }
}
@media (max-width: 480px) {
  .org-name {
    font-size: 0.8rem; /* Further reduce font size for very small screens */
  }
}


.org-card.selected {
  border-color: #ff8000;
  background-color: #ff8000;
}

.org-card.selected .org-name {
  color: #00204b; 
  margin-top: 10px;
}

.org-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.action-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.edit-button,
.add-event-button {
  flex: 1 10px;
  max-width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.edit-button {
  background-color: #28a745;
  color: white;
}

.edit-button:hover {
  background-color: #218838;
}

.add-event-button {
  background-color: #ff8000;
  color: white;
}

.add-event-button:hover {
  background-color: #cc6804;
}



.org-description {
  background-color: #f0f8ff; /* Alice blue background for description */
  padding: 10px;
  border-radius: 6px;
  color: #555555; /* Medium gray text */
  font-size: 0.9rem;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto; /* Push description to the bottom */
}


